.footer {
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  padding: var(--padding-global-gap) var(--padding-global-side);
  max-width: 1500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-info {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-info-header {
  font-size: 2rem;
}

.footer-info-contact {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.footer-info-contact img {
  height: 1em;
}

.footer-info-icons {
  display: grid;
  grid-template-columns: repeat(3, 2rem);
  gap: 1rem;
}

.footer-picture img {
  height: 400px;
  width: auto;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .footer-wrapper {
    padding: var(--padding-global-gap) 0 0 0;
    flex-direction: column;
  }

  .footer-wrapper p,
  .footer-info-contact {
    padding-bottom: 1.5rem;
  }

  .footer-info {
    padding: 0 var(--padding-global-side) 4rem;
  }

  .footer-info-header {
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .footer-info-icons {
    justify-content: center;
    grid-template-columns: repeat(3, 2.5rem);
  }

  .footer-picture img {
    width: 100vw;
    object-fit: cover;
  }
}
