.footer {
  background-color: var(--color-accent-1);
  display: flex;
  justify-content: center;
  box-shadow: var(--box-shadow-1);
}

.footer-wrapper {
  padding: var(--padding-global-gap) var(--padding-global-side);
  max-width: 1500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.footer-info {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-info-header {
  font-size: 2rem;
}

.footer-info-promo {
  max-width: 70%;
}

.footer-info-contact {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.footer-info-contact img {
  height: 1em;
}

.footer-info-icons {
  display: grid;
  grid-template-columns: repeat(3, 2rem);
  gap: 1rem;
}

.footer-picture img {
  height: 400px;
  width: auto;
  box-shadow: var(--box-shadow-1);
}

@media (max-width: 650px) {
  .footer-wrapper {
    padding: var(--padding-global-gap) 0 0 0;
    flex-direction: column;
  }

  .footer-wrapper p,
  .footer-info-contact {
    padding-bottom: 1.5rem;
  }

  .footer-info {
    padding: 0 var(--padding-global-side) 1rem;
  }

  .footer-info-header {
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .footer-info-promo {
    max-width: unset;
  }

  .footer-info-icons {
    justify-content: center;
    grid-template-columns: repeat(3, 2.5rem);
  }

  .footer-picture img {
    width: 100vw;
    object-fit: cover;
    object-position: top;

    display: block;
  }
}
