body {
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  font-family: 'Montserrat', sans-serif;
}

figure,
h1,
h2,
p {
  padding: 0;
  margin: 0;
}
