.hero {
  padding: 8rem var(--padding-global-side) 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-background-shape {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.5));
}

.hero-background-shape::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;

  clip-path: polygon(0 0, 100% 0, 100% 51%, 0 98%);
  background-color: lightskyblue;
}

.hero-figure {
  position: absolute;
  top: -15%;
  left: 0;
  transform: translate(-100%);
  height: auto;
  max-width: 500px;
}

.hero-picture {
  height: auto;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.hero-picture-caption {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  color: white;

  font-size: 2rem;
  white-space: nowrap;

  text-shadow: 0px 1px 2px rgb(0 0 0 / 80%);
}

.hero-wrapper {
  position: relative;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  transform: translate(50%);

  background-color: white;
  padding: 2rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-header {
  font-size: 2.3rem;
}

.hero-text {
  font-size: 1.2rem;
  line-height: 1.3em;
  word-spacing: 1px;
}

.hero-icon-container {
  display: grid;
  grid-template-columns: repeat(3, 2rem);
  justify-content: end;
  gap: 0.5rem;
}

@media (max-width: 1200px) and (min-width: 601px) {
  .hero {
    padding: 8rem var(--padding-global-side) 3rem;
  }

  .hero-header {
    padding-bottom: 1rem;
  }

  .hero-icon-container {
    padding-top: 1rem;
  }

  .hero-figure {
    position: relative;
    top: unset;
    left: unset;
    max-width: 300px;
    width: calc(200px + 9vw);
    float: left;
    shape-outside: inset(0% 20% 40% 0%);
    display: inline;
    transform: translate(-25%, -40%);
  }

  .hero-picture-caption {
    top: 0;
    right: 0;
    transform: translate(2.5em, 2.5%);
    font-size: calc(1.5em + 1vw);
  }

  .hero-wrapper {
    display: block;
    position: relative;
    padding: calc(0.5rem + 2vw);
    transform: translate(2vw);
  }
}

@media (max-width: 600px) {
  .hero {
    padding: var(--padding-global-side) var(--padding-global-side) 3rem;
  }

  .hero-background-shape::before {
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 85vw);
  }

  .hero-header {
    text-align: center;
  }

  .hero-wrapper {
    padding: 0;
    transform: unset;
    flex-direction: column;
    background-color: unset;
    box-shadow: none;
  }

  .hero-figure {
    box-sizing: content-box;
    margin: 3vw;
    position: relative;
    transform: unset;
  }

  .hero-picture-caption {
    font-size: calc(1.1em + 2vw);
    transform: unset;
    left: 0%;
    bottom: 0%;
    white-space: break-spaces;
    white-space-collapse: collapse;
    margin: 0.2rem 0.5rem;
  }

  .hero-icon-container {
    justify-content: center;
    gap: 1.1rem;
  }
}
