body {
  --padding-global-side: calc(6rem + 3vw);
  --padding-global-gap: 2.5rem;
}

@media (max-width: 1200px) and (min-width: 601px) {
  body {
    --padding-global-side: 2rem;
  }
}

@media (max-width: 600px) {
  body {
    --padding-global-side: calc(0.5rem + 2vw);
  }
}
