body {
  --padding-global-side: calc(6rem + 3vw);
  --padding-global-gap: 2.5rem;

  --box-shadow-1: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.woff2');
}

@font-face {
  font-family: 'DancingScript';
  src: url('../assets/fonts/DancingScript-Regular.woff2');
}

@media (max-width: 1200px) and (min-width: 701px) {
  body {
    --padding-global-side: 2rem;
  }
}

@media (max-width: 700px) {
  body {
    --padding-global-side: calc(0.5rem + 2vw);
  }
}
